#game_board {
    position: relative;;
    left: 20px;
    bottom: 673px;
    width: 640px;
    height: 640px;
    display: table-cell;
    margin: 10px;
    border: 7px solid #333
}

.black {
    float: left;
    background-color: black;
    height: 80px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
}

.white {
    float: left;
    background-color: white;
    height: 80px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
}

#x_axis {
    width: 640px;
    height: 20px;
    display: table-cell;
}

.x_label {
    float: left;
    background-color: grey;
    text-align: center;
    width: 80px;
    height: 20px;
    vertical-align: middle;
}

#y_axis {
    width: 20px;
    height: 640px;
    display: table-cell;
}

.y_label {
    float: left;
    background-color: grey;
    text-align: center;
    width: 20px;
    height: 80px;
    vertical-align: middle;
}

.axes {
    position: relative;
    top: 34px;
}
